<div class="card-margin card col-12 col-sm-12 col-md-11 col-lg-8 mx-auto p-5">
    <div class="card-title mx-auto">
        <h2 class="text-center"><i class="fas fa-user fa-sm"> Mi Perfil</i></h2>
    </div>
    <hr>
    <form action="/perfil" method="POST" class="needs-validation" novalidate>
        <div class="form-group row">
            <label for="usuario" class="col-sm-3">Nombre de Usuario:</label>
            <input id="usuario" type="text" name="usuario" class="form-control col-sm-9"
                value="{{{logeado.usuario}}}" maxlength="40" required readonly>
        </div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-3">Nombre:</label>
            <input id="nobre" type="text" name="nombre" class="form-control col-sm-9"
                value="{{{logeado.nombre}}}" maxlength="40" required>
            <div class="invalid-feedback">Campo obligatorio</div>
        </div>
        <div class="form-group row">
            <label for="apellidos" class="col-sm-3">Apellidos:</label>
            <input id="apellidos" type="text" name="apellidos" class="form-control col-sm-9"
                value="{{{logeado.apellidos}}}" maxlength="40" required>
            <div class="invalid-feedback">Campo obligatorio</div>
        </div>
        <div class="form-group row">
            <label for="contrasena" class="col-sm-3">Contraseña:</label>
            <input id="contrasena" type="password" name="contrasena" class="form-control col-sm-3"
                value="{{{logeado.contrasena}}}" maxlength="40" required>
            <label for="recontrasena" class="col-sm-3">Repetir Contraseña:</label>
            <input id="recontrasena" type="password" name="recontrasena" class="form-control col-sm-3"
                maxlength="40" required>
            <div class="invalid-feedback">Campo obligatorio</div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3">Email:</label>
            <input id="email" type="email" name="email" class="form-control col-sm-9"
                value="{{{logeado.email}}}" maxlength="40" required>
            <div class="invalid-feedback">Introduzca un email correcto</div>
        </div>
        <div class="form-group row">
            <label for="credito" class="col-sm-3">Crédito:</label>
            <input id="credito" type="number" name="credito" class="form-control col-sm-3"
                value="{{{logeado.credito}}}" min="0" required>
            <div class="invalid-feedback">Introduzca un crédito</div>
        </div>
        <div class="form-group row">
            <label for="provincia" class="col-sm-3">Provincia:</label>
            <select id="provincia" name="provincia" class="form-control col-sm-3"
                value="{{{logeado.provincia}}}" required>
                <option value="Alicante">Alicante</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Valencia">Valencia</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Madrid">Madrid</option>
                <option value="Murcia">Murcia</option>
            </select>
            <div class="invalid-feedback">Seleccione una provincia</div>
        </div>
        <div class="form-group text-center button-margin">
            <button type="submit" class="btn btn-success button-size">Editar</button>
        </div>
    </form>
</div>